.custom-request-list {
  padding: 0;
}

.custom-list-item {
  margin: 10px;
}

.empty-list-message {
  padding: 12px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .custom-request-list {
    padding: 0;
  }

  .custom-list-item {
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
}
